
:root {
  color-scheme: light;
  /* font-family: "Avenir Next", "Segoe UI", sans-serif; */
  font-family: "Inter", "Trebuchet MS", "Cormorant Garamond", sans-serif;
  
  background: #ecebe8;
  color: #201514;
  line-height: 1.45;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Cormorant Garamond
EB Garamond
Bodoni Moda
Fraunces
Crimson Pro
Libre Baskerville
Source Serif 4 */
h1{
  font-size:40px !important;
}
h2{
  font-size:30px !important;
}
h1,h2,h3 {
  font-family: "Gelasio", 'Cormorant Garamond' !important;
  line-height: 1.2 !important;
}
a {
  color: maroon;
}

a:hover {
  color: #800000;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

p {
  font-size:10px;
}
body {
  /* background: */
    /* radial-gradient(circle at top left, rgba(153, 27, 27, 0.12), transparent 32%), */
    /* linear-gradient(180deg, #f9f5ef 0%, #efe2d2 100%); */
}

button,
input,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
}

